[submodule "packages/nymphajs"]
	path = packages/nymphajs
	url = https://github.com/neny95js/nymphajs.git
[submodule "packages/nymphajs-mario-game"]
	path = packages/nymphajs-mario-game
	url = https://github.com/neny95js/nymphajs-mario-game.git
[submodule "packages/nymphajs-tetris-game"]
	path = packages/nymphajs-tetris-game
	url = https://github.com/neny95js/nymphajs-tetris-game.git
[submodule "packages/gryphon"]
	path = packages/nymphajs-gryphon
	url = https://github.com/neny95js/gryphon.git
